@model Service
@{
    ViewData["title"] = "Serviços";
}
    
    @if (@TempData["MessageError"] != null)
    {
        <a href="#"> <p class="error delete-error"> <i class="fa-solid fa-xmark"></i> @TempData["MessageError"]</p></a><br />
    } 

    <a class="btn btn-dark" asp-controller="Service" asp-action="Create" role="button" style="margin: 15 0px">Cadastrar Novo Serviço</a> 
 
    <h2>Serviços Cadastrados</h2>
    <table id="table-clients">
        <thead>
            <tr>
                <th scope="col">Serviço</th>
                <th scope="col">Valor</th>
                <th scope="col">Acões</th>
            </tr>
               
        </thead>
        <tbody>

            @foreach (Service service in ViewBag.Services)
                {
            <tr>
                <th scope="row">@service.Description</th>
                <td >R$ @service.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@service.Id"><i class="fa fa-edit"></i></a>
                    <a href="#" class="btnDelete" data-value="@service.Id"><i class="fa fa-delete-left"></i></a>
                </td>
            </tr>
                }
            
        </tbody>
    </table>


 <div class="modal fade" id="EditModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModal"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-edit">
      </div>
      </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
      $(document).ready(function() {

        $(".btnDelete").click(function() {

            let id = $(this).data("value");

            $("#modal-body-edit").load("/Service/Delete/" + id,
                function() {
                    $("#titleModal").html("Deletar serviço")
                    $("#EditModal").modal("show")
                });
        });

        $(".error").click(function() {
             $(".error" ).remove();
             $( "p" ).removeClass("delete-error")
             $(".btn-dark").css("margin-top", "-1px");
        });
      });
    </script>    

}

